/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* General Styles */
 
  html {
    font-size: 16px;
  }
 
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color:  #e2e3ed;
    text-align: left;
  }
    
 
  ul, 
  ol {
    list-style-type: none;
    font-weight: bold;
    font-size: 1.125em;
    text-transform: uppercase;
  }
 
  a {
    color: #e2e3ed;
    text-decoration: none;
	
  }

  
  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.875em;
    line-height: 1;
    font-weight: 500;

  }
 
  h3,
  h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125em;
    font-weight: 500;
    margin: 20px 0;
  }

  p {
    font-size: 0.875em;
    line-height: 1.285;
	
  }
 
  img {
    width: 100%;
  }
 
  figure {
    margin: 0;
 
  }
 
  address {
    font-style: normal;
 
  }
 
  .content-wrapper{
    width: 90%;
    margin: 50px 0;
  }

   /*--------Base Header - Footer Styles-------*/
  header,
  footer{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     background-color: #202322;
   }
    
   
   /*---Header Styles----*/

   header{
     padding: 15px 0;
   }

   header .content-wrapper{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     margin: 0;
   }

    header figure {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
}

   .header-divider{
     width: 100%;
     margin: 15px 0;
     height: 1px;
     background: #3a3a3a;
    
   }
  
   header nav{
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-flow: row wrap;
     width: 60%;
   }

   header nav ul{
     display: flex;
     justify-content: space-around;
     width: 100%;
     margin: 0;
     padding: 0;
     
   }

    /*------Footer Styles------*/

    footer{
      flex-direction: column;
      color: #ffffff;
      text-align: center;
    }

    footer .content-wrapper{
      width: 55%;
      margin: 50px 0;
    }

  
    footer p{
      margin: 0;
    }

    footer .contact{
      margin-bottom: 50px;
    }

    footer .social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
/* to add padding once the icons are added*/
    footer .social-icons p {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    footer .copyright {
      margin: 10px 0;
    }
   
/*------------------------- Mobile Styles Homepage -------------------------*/


/*-----Hero Area Styles-----*/
.hero-area{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: url('../img/hero-image.jpg') center no-repeat;
  background-size: cover;
  min-height: 500px;
}

.hero-area h1{
font-family: 'Poppins', sans-serif;
font-size: 2.25em;
font-weight: 500;
line-height: 1.2;
margin: 0;
/*---line height in PS is auto and code solution is 1.2--*/
}

/*----- Aside styles -------*/
aside{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #527158;
}

aside .content-wrapper{
  margin-top: 25px;
}
/*---Why the solution code does not have
something for this specific margin
as it is about 30 px and not 50px?
and why we don't do anything to the email box--*/

aside .form {
  margin-top: 30px;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/*------ Features Styles -------*/
.features{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: url('../img/features-background.jpg') center no-repeat;
  background-size: cover;

}

.features h2{
  margin-bottom: 60px;
}

.features .features-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features article{
  width: 63%;
  margin: 30px 0;
}

.features p{
  margin: 0;
  text-align: center;
}

/*------- Reviews Styles ---------*/
.reviews{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #2a423a;
}

.reviews h2{
  margin-bottom: 30px;
}
/*----why solution code puts 40 px when it is 
clearly less than that in ps document?*/

.reviews figure{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;

}

.reviews h3{
  width: 55%;
  margin: 20px 0
}

/*------------------------- Mobile Styles About Page-------------------------*/
.mission{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #527158;
}

.map figure{
  width:100%;
  height: 0;
  padding-bottom: 125%;
  overflow: hidden;
  position: relative;
}

.map iframe{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.contact-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #2a423a;
}

.contact-content p{
  margin: 0;
}

/*------------------------- Mobile Styles FAQ page -------------------------*/

.faq{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #527158;
}

.faq .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.faq h2{
  margin-bottom: 40px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 768px) {
   /*Tablet styles here*/
    h2{
      font-size: 2.25em;
    } 
    
    h3, h4{
      font-size: 1.5em;
    }

    .content-wrapper {
      max-width: 640px;
      margin: 90px 0;
    }
    /*- header (tablet) -*/
      header{
        justify-content: space-around;
        padding: 35px 0;
      }  

      header .content-wrapper{
        justify-content: space-between;
        width: 100%;
        margin: 0;
      }

      header figure{
        width: 35%;
      }

      
      .header-divider{
        display: none;
      }

      header nav{
        width: 20%;
      }

      header nav ul{
        justify-content: space-between;
      }

      
        
      /*---Homepage styles (tablet)---*/
        /*--Hero area (tablet)--*/
        .hero-area{
          min-height: 600px;
        }

        .hero-area h1{
          font-size: 3em;
        }
          
       /*--Aside (tablet)--*/

        aside .content-wrapper{
          display: flex;
          justify-content: space-between;
          flex-flow: row nowrap; /*-- solution puts row wrap--*/
          margin: 40px 0;
        }

        aside .content-wrapper .form-description,
        aside .content-wrapper .form{
          width: 40%;
          margin:0;
        } 
            

        /*-- Features (tablet)--*/

        .features article{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: column wrap;
          flex-basis: 50%;
        }

        .features h2{
          margin: 0 0 30px;
        }
        
        .features-item-description{
          width: 63%; /*solution puts 50%*/
        }

       
        /*-- Reviews (tablet)--*/

        .reviews h2{
          width: 80%;
        }

        .reviews article{
          display: flex;
          justify-content: space-between;
        }

        .reviews figure{
          width:49%;
        }

        .reviews article div{
          width: 49%;
        }

        .reviews h3{
          margin: 0 0 20px 0;
          width: 80%;
        }

        /*--footer (tablet)--*/

        footer .content-wrapper{
          width: 66%;
        }
  
        .footer-content{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
  
        footer .contact{
          margin: 0;
        }

        footer .copyright {
          width: 100%;
        }

      /*---About page styles (tablet)---*/

      .mission-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        }
 
      .mission-content p {
        width: 45%;
      }

      .map figure{
        padding-bottom: 45.5%; 
      }
 
      .contact-section .content-wrapper h2 {
        width: 80%;
      }
 
      .contact-section-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      /*---FAQ page styles (table)---*/
     
      .faq .content-wrapper {
        justify-content: space-between;
      
      }
    
      .faq-content {
        flex-basis: 40%;
      }
 
      .faq h2 {
        width: 100%;
      }

      .faq h4{
        font-size: 0.875em;
      }
    }
      
    
   @media only screen and (min-width: 1200px) {
   /*Desktop styles here*/

    .content-wrapper{
      max-width: 960px;
    }
    h3, 
    h4{
      font-size: 1.875em;
    }

    p{
      font-size: 1.125em;
    }
    /*--- Header (desktop) ---*/
    header{
      padding: 25px 0;
    }

    header figure{
      width: 26%;
    }
    

    /*---Homepage (desktop) ---/*

      /*-- Hero area (desktop) --*/
      .hero-area .content-wrapper{
        margin: 45px;
      }

      
      .hero-area h1{
        font-size: 3.75em;
        width: 70%;
      }

      /*--Aside (desktop) --*/
      aside .content-wrapper{
        margin: 45px;
        justify-content: space-around;
      }

      aside .content-wrapper .form-description,
      aside .content-wrapper .form{
        width: 30%;
      }

      /*-- Features (desktop) --*/
       /*solution code has .features h2 at width 90% to add if
       not fitting with text font size and all!*/

      .features article{
        flex-basis: 33%;
      }
      
      /*-- Reviews (desktop) --*/
      /*solution code has .reviews article div at 42% to verify*/


    /*-- Footer (desktop) --*/

    /*---About page (desktop) ---*/

    /***** Will need to check section 
    contact once the other styles are in
    something seems weird on blank page*/

    .map figure{
      padding-bottom: 37.5%;
    }

    .contact-section .content-wrapper h2{
      width: 100%;
    }

    /*--- FAQ Page (desktop) ---*/
    .faq h2{
      width:100%;
    }

    .faq h4{
      font-size: 1.125em;;
    }


   }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

